@font-face {
    font-family: "Digital";
    src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
    src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}
/*.App {*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin: auto;*/
/*}*/

body {
    background: #efefef;
    color: #a9a9a9;
    font-size: 24px;
    text-align: center;
    font-family: "Cambria", serif;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*font-size: 30px;*/
}

.card {
    margin: 20px;
    padding: 10px;
    background: #efefef;
    align-items: center;
    width: 13em;
    max-width: 13em;
    border-radius: 20px;
    border-width: thick;

}

.arrows {
    /*font-weight: bold;*/
    font-size: 14px;
}

.session-stop {
    border-color: #ff3b3f;
}

.session-start {
    border-color: #228B22;
}
.session-buttons {
    display: flex;
    justify-content: space-between;
    width: 60%;
}